<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Shop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.gec.servlet.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/ProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.gec.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.gec.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZhuxiaoServlet</display-name>
    <servlet-name>ZhuxiaoServlet</servlet-name>
    <servlet-class>com.gec.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZhuxiaoServlet</servlet-name>
    <url-pattern>/ZhuxiaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.gec.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInfoServlet</display-name>
    <servlet-name>ProductInfoServlet</servlet-name>
    <servlet-class>com.gec.servlet.ProductInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInfoServlet</servlet-name>
    <url-pattern>/ProductInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.gec.servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartItemServlet</display-name>
    <servlet-name>DeleteCartItemServlet</servlet-name>
    <servlet-class>com.gec.servlet.DeleteCartItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartItemServlet</servlet-name>
    <url-pattern>/DeleteCartItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CleanCartServlet</display-name>
    <servlet-name>CleanCartServlet</servlet-name>
    <servlet-class>com.gec.servlet.CleanCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CleanCartServlet</servlet-name>
    <url-pattern>/CleanCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBuyNumServlet</display-name>
    <servlet-name>UpdateBuyNumServlet</servlet-name>
    <servlet-class>com.gec.servlet.UpdateBuyNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBuyNumServlet</servlet-name>
    <url-pattern>/UpdateBuyNumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitOrderServlet</display-name>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <servlet-class>com.gec.servlet.SubmitOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <url-pattern>/SubmitOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderListServlet</display-name>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>com.gec.servlet.OrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/OrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageOrderServlet</display-name>
    <servlet-name>ManageOrderServlet</servlet-name>
    <servlet-class>com.gec.servlet.ManageOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageOrderServlet</servlet-name>
    <url-pattern>/ManageOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueDingOrderServlet</display-name>
    <servlet-name>QueDingOrderServlet</servlet-name>
    <servlet-class>com.gec.servlet.ConfirmOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueDingOrderServlet</servlet-name>
    <url-pattern>/QueDingOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountServlet</display-name>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>com.gec.servlet.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/AccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderServlet</display-name>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <servlet-class>com.gec.servlet.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <url-pattern>/DeleteOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssessOrderServlet</display-name>
    <servlet-name>AssessOrderServlet</servlet-name>
    <servlet-class>com.gec.servlet.AssessOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssessOrderServlet</servlet-name>
    <url-pattern>/AssessOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserInfoServlet</display-name>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <servlet-class>com.gec.servlet.UpdateUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <url-pattern>/UpdateUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductServlet</display-name>
    <servlet-name>SearchProductServlet</servlet-name>
    <servlet-class>com.gec.servlet.SearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductServlet</servlet-name>
    <url-pattern>/SearchProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryListServlet</display-name>
    <servlet-name>CategoryListServlet</servlet-name>
    <servlet-class>com.gec.servlet.CategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryListServlet</servlet-name>
    <url-pattern>/CategoryListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCategoryServlet</display-name>
    <servlet-name>EditCategoryServlet</servlet-name>
    <servlet-class>com.gec.servlet.EditCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCategoryServlet</servlet-name>
    <url-pattern>/EditCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCategoryServlet</display-name>
    <servlet-name>UpdateCategoryServlet</servlet-name>
    <servlet-class>com.gec.servlet.UpdateCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCategoryServlet</servlet-name>
    <url-pattern>/UpdateCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategoryServlet</display-name>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <servlet-class>com.gec.servlet.DeleteCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <url-pattern>/DeleteCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategoryServlet</display-name>
    <servlet-name>AddCategoryServlet</servlet-name>
    <servlet-class>com.gec.servlet.AddCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategoryServlet</servlet-name>
    <url-pattern>/AddCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductServlet</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>com.gec.servlet.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.gec.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.gec.servlet.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllOrderListServlet</display-name>
    <servlet-name>AllOrderListServlet</servlet-name>
    <servlet-class>com.gec.servlet.AllOrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllOrderListServlet</servlet-name>
    <url-pattern>/AllOrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderInfoServlet</display-name>
    <servlet-name>OrderInfoServlet</servlet-name>
    <servlet-class>com.gec.servlet.OrderInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderInfoServlet</servlet-name>
    <url-pattern>/OrderInfoServlet</url-pattern>
  </servlet-mapping>
</web-app>